

<div class="row">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-8">
        <h1>Welcome to Turbine</h1>
        <h3>Powered by Steam</h3>
      </div>
      <div class="col-md-4"><%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %></div>
    </div>
  </div>
</div>


