
 <%= @stat_hash %>

<div class="pull-right">
  <%= image_tag Gchart.pie(
                            bg: {color: 'aaaaaa'},
                            size: "500x500",
                            legend: @stat_hash.keys,
                            data: @stat_hash.values.collect(&:to_i)
                           
                             )
 %>
</div>

