<div class="mygrid-wrapper-div">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>FRIENDS</th>
      </tr>
    </thead>
    <tbody>
      <% @friend_list.each do |friend| %>
        <tr><td><%= image_tag friend.avatar %> <%= link_to friend.name, friend.profile_url %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>